<div id="map"></div>


{{!-- <h2 class="my_heading">DATA</h2>
<hr>
{{#each dat}}
    {{#each data}}
        <p class="my_heading">Long: {{lat}}</p>
        <p class="my_heading">Lat: {{lng}}</p>
        <hr>
    {{/each}}
{{/each}} --}}
<div  class="my_heading" style="text-align: center; margin-top: 50px"><a type="button" href="/">Take me back home</a></div>


<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
    epsg4326 = new OpenLayers.Projection("EPSG:4326")

    map = new OpenLayers.Map({
      div: "map",
      displayProjection: epsg4326 
    });

    map.addLayer(new OpenLayers.Layer.OSM());

    map.addControls([
      new OpenLayers.Control.MousePosition(),
      new OpenLayers.Control.ScaleLine(),
      //new OpenLayers.Control.LayerSwitcher(),
      new OpenLayers.Control.Permalink({ anchor: true })
    ]);

    projectTo = map.getProjectionObject();
    var lonLat = new OpenLayers.LonLat(15.645881 ,46.554650).transform(epsg4326, projectTo);
    var zoom = 10;
    /*if (!map.getCenter()) {
      map.setCenter(lonLat, zoom);
    }*/
    map.setCenter(lonLat, zoom);


    //Marker [long, lat, avtor]
    var markers = [
    {{#each dat}}
        {{#each data}}
            [{{lng}}, {{lat}}, '{{../author._id}}'],    
        {{/each}}
    {{/each}}
    ];

    var colorList = ["red", "blue", "yellow"];
    var layerName = [markers[0][2]];
    var styleArray = [new OpenLayers.StyleMap({ pointRadius: 6, fillColor: colorList[0], fillOpacity: 0.5 })];
    var vectorLayer = [new OpenLayers.Layer.Vector(layerName[0], { styleMap: styleArray[0] })];	

    // Ustvarjanje layerjev
    var j = 0;
    for (var i = 1; i < markers.length; i++) {
      if (!layerName.includes(markers[i][2])) {
        j++;
        layerName.push(markers[i][2]);													
        styleArray.push(new OpenLayers.StyleMap({ pointRadius: 6, fillColor: colorList[j % colorList.length], fillOpacity: 0.5 }));
        vectorLayer.push(new OpenLayers.Layer.Vector(layerName[j], { styleMap: styleArray[j] }));
      }
    }

    // Postavljanje markerjev
    for (var i = 0; i < markers.length; i++) {
      var lon = markers[i][0];
      var lat = markers[i][1];
      var feature = new OpenLayers.Feature.Vector(
        new OpenLayers.Geometry.Point(lon, lat).transform(epsg4326, projectTo),
        { description: "marker number " + i, text: "Test" }
      );
      vectorLayer[layerName.indexOf(markers[i][2])].addFeatures(feature);
    }

    // Dodajanje layerjev in markerjev
    for (var i = 0; i < layerName.length; i++) {
      map.addLayer(vectorLayer[i]);
    }
</script>